<%- include("partials/header.ejs") %>
<div class="container my-4">
  <img src="/img/<%= blog.image %>" class="bd-placeholder-img card-img-top w-25" height="300">
  <p><%= blog.title %></p>
  <p class="text-muted"><%= blog.time %></p>
</div>

<%- include("partials/footer.ejs") %>